.header-color {
	background: #833ab4; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#fcb045,
		#fd1d1d,
		#833ab4
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#fcb045,
		#fd1d1d,
		#833ab4
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.about-grid {
	background: #833ab4; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#fcb045,
		#fd1d1d,
		#833ab4
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#fcb045,
		#fd1d1d,
		#833ab4
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	text-align: center;

	left: 0;
	width: 100%;
	height: 100%;
}

.projects-grid {
	display: flex;
}

/*Contact page css*/
.contact-body {
	margin: auto;
	width: 100%;
	height: 100%;
	justify-content: center;
	padding-top: 2em;
}

.contact-grid {
	text-align: center;
	justify-content: center;
	width: 100%;
	height: 550px;
	background: white;
	color: black;
	margin-bottom: 20px;
}

.contact-grid h2 {
	font-family: "Anton", sans-serif;
}

.contact-grid p {
	font-family: "Oxygen", sans-serif;
	font-weight: bold;
}

.contact-grid hr {
	border-top: 5px dotted black;
	width: 50%;
	margin: auto;
}

.contact-list i {
	font-size: 30px;
	padding-right: 5rem;
}

/*Contact page css*/

.avatar-img {
	height: 250px;
	border-radius: 70%;
}

.banner-text {
	background-color: black;
	opacity: 8;
	width: 75%;
	margin: auto;
	border-radius: 10px;
}

.banner-text h1 {
	font-size: 66px;
	font-weight: bold;
	color: white;
}

.banner-text hr {
	border-top: 5px dotted white;
	width: 50%;
	margin: auto;
}

.banner-text p {
	color: white;
	font-size: 20px;
	padding: 1em;
}

.social-links,
.technology-icons {
	display: flex;
	justify-content: space-between;
	width: 50%;
	margin: auto;
}

.social-links i {
	color: white;
	font-size: 5em;
	padding: 8px;
}

.technology-icons i {
	color: white;
	font-size: 5em;
	padding: 8px;
}

.buttons-link button {
	padding-left: 25px;
}

/*media queries*/
/*mobile styles*/
/*If screen is max width is 400px only the styling will be true*/
@media only screen and (min-width: 411px) and (max-width: 737px) {
	.avatar-img {
		height: 100px;
	}

	.social-links i {
		font-size: 30px;
	}

	.banner-text h1 {
		font-size: 40px;
	}

	#technologies-header {
		font-size: 30px !important;
	}

	.technology-icons {
		margin-right: 110px;
	}

	.technology-icons i {
		font-size: 40px;
	}

	.left {
		margin-left: 8px;
	}

	#list-id {
		font-size: 18px !important;
	}

	.contact-list i {
		padding: 0;
		padding-right: 10px;
		margin-left: 50px;
	}
}

/*tablet style*/
@media only screen and (max-width: 400px) {
	.avatar-img {
		height: 200px;
	}

	.banner-text h1 {
		font-size: 40px;
	}

	.social-links i {
		font-size: 25px;
	}

	#technologies-header {
		font-size: 20px !important;
	}

	.technology-icons {
		margin-right: 101px;
	}

	.technology-icons i {
		font-size: 35px;
	}

	.left {
		margin-left: 8px;
	}

	#list-id {
		font-size: 15px !important;
	}

	.contact-list i {
		padding: 0;
		padding-right: 10px;
		margin-left: 50px;
	}
}

/*desktop style*/
@media only screen and (min-width: 738px) and (max-width: 960px) {
	.technology-icons {
		margin-right: 140px;
	}

	.technology-icons i {
		font-size: 50px;
	}

	.left {
		margin-left: 8px;
	}
}
